In [2]:
#AREA OF A SQUARE
area=int(input("Enter the side of the square:"))
area=area*area
print("area =",area)

Enter the side of the square:3
area = 9

In [3]:
#HELLO NAME
user=input("Enter your name:")
print(f"hello,{user}:")

Enter your name:nidha
hello,nidha:

In [3]:
n=input("Enter 5 numbers seperated by comma:").split(',')
q=list(map(int,n))
print("output",q)

Enter 5 numbers seperated by comma:1,2,4,8
output [1, 2, 4, 8]

In [4]:
#COLOR SET
p=set(input("Enter 3 colors seperated by comma:").split(','))
q=set(input("Enter 3 colors seperated by comma:").split(','))
c=p-q
print("output",c)

Enter 3 colors seperated by comma:red,green,black
Enter 3 colors seperated by comma:green,black,white
output {'red'}

In [6]:
#DICTIONARY
p=input("Entetr 3 student names seperated by comma:").split(",")
pd={1:p[0],2:p[1],3:p[2]}
q=input("Entetr 3 student names seperated by comma:").split(",")
qd={4:q[0],5:q[1],6:q[2]}
pd.update(qd)
print("output",pd)

Entetr 3 student names seperated by comma:nidha,aysha,aneesa
Entetr 3 student names seperated by comma:nidha,aysha,rashika
output {1: 'nidha', 2: 'aysha', 3: 'aneesa', 4: 'nidha', 5: 'aysha', 6: 'rashika'}

In [8]:
roll=input("Entetr 3 roll number seperated by comma:").split(",")
name=input("Entetr 3 names seperated by comma:").split(",")
d={roll[0]:name[0],roll[1]:name[1],roll[2]:name[2]}
print("dict",d)
s=dict(sorted(d.items()))
print("sorted dict",s)

Entetr 3 roll number seperated by comma:4,2,3
Entetr 3 names seperated by comma:nidha,arsha,niya
dict {'4': 'nidha', '2': 'arsha', '3': 'niya'}
sorted dict {'2': 'arsha', '3': 'niya', '4': 'nidha'}